# 基本配置
server:
  port: 8085
  servlet:
    context-path: /auth

spring:
  application:
    name: data-rsync-auth
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yml
        namespace: ${spring.profiles.active}
        group: DEFAULT_GROUP