# 基本配置
server:
  port: 8080
  servlet:
    context-path: /admin

spring:
  application:
    name: data-rsync-admin
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos
      config:
        server-addr: localhost:8848
        file-extension: yml
        namespace: ${spring.profiles.active}
        group: DEFAULT_GROUP
        username: nacos
        password: nacos
